section {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

able, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 50px;
  min-width: 200px;
}

thead {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid orange;
}

tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, .1);
}

tr:hover {
  background-color: rgba(255, 255, 255, .2);
}

td {
  padding: 5px;
  text-align: center;
}

span {
  display: inline-block;
  min-width: 50px;
}

.btn.btn-primary {
  background-color: #ec008b;
  border-color: #ec008b;
}

.btn.btn-primary:hover {
  background-color: black;
}

.btn.btn-outline {
  border-color: #ec008b;
  color: #ec008b;
}

.btn.btn-outline:hover {
  background-color: rgba(0, 0, 0, .1);
}

.btn.btn-link {
  color: #ec008b;
}

input {
  width: 50px;
}

.newround {
  position: absolute;
  top: 20px;
  right: 20px;
}

.exit {
  position: absolute;
  top: 20px;
  right: 150px;
}

.topscore {
  background: linear-gradient(to top, #ec008b 0%, orange 100%);
  border-radius: 5px;
  color: white;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 30px;
}

.topscore thead {
  font-weight: normal;
}

.topscore td {
  height: 35px;
}

.beginning {
  height: 120px;
  width: 250px;
  text-align: center;
  line-height: 120px;
  border: 2px solid #626262;
  color: #626262;
  border-radius: 5px;
  background: url('/../../../../assets/images/arrow.svg');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
