<section>
  <h1>Simple Whist</h1>
  <article>
    <table>
      <thead>
        <th>Round</th>
        <th *ngFor="let player of players">{{player.name}}</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td *ngFor="let player of players">
            <span *ngIf="bidgame">Bids</span>
            <span>Takes</span>
            <span>Score</span>
          </td>
        </tr>
        <tr *ngFor="let round of rounds, let i=index">
          <td>{{i+1}}</td>
          <td *ngFor="let player of round['id']">
            <span *ngIf="bidgame">{{player.bid}}</span>
            <span>{{player.take}}</span>
            <span>{{player.score}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="opened = true">New Round</button>

    <clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'sm'">
      <h3 class="modal-title">On to the next round!</h3>
        <div class="modal-body">
          <h4 *ngIf="bidgame">It's time to make our bids!</h4>
          <table>
            <tr *ngFor="let player of players, let i=index">
              <td>{{player.name}}</td>
              <td><input #name type="text"/></td>
              <td><button class="btn btn-link" (click)="pushValue(name.value, player.id, initbutton)">SET</button></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
            <button #initbutton type="button" class="btn btn-primary" (click)="opened = false" (click)="roundInit()" disabled>Start</button>
        </div>
    </clr-modal>
  </article>
</section>
