html {
  font-family: 'Exo', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: url('./assets/images/nrw-bg.svg');
  background-size: 1500px;
  background-position: center;
}

.btn.btn-primary {
  background-color: #ec008b;
  border-color: #ec008b;
}

.btn.btn-primary:hover {
  background-color: black;
}

.btn.btn-outline {
  border-color: #ec008b;
  color: #ec008b;
}

.btn.btn-outline:hover {
  background-color: rgba(0, 0, 0, .1);
}

.btn.btn-link {
  color: #ec008b;
}

.loading {
  left: 50%;
  top: 250px;
  color: white;
}
